html {
	box-sizing: border-box;
}

*,*:after,*:before
{box-sizing: inherit}

.app {
	width:800px;
	height: 500px;
	border: 1px solid black;
	display: flex;

}

.header {
	width:790px;
	height: 50px;
	background-color: #eee;

}

.headerTitles {
	list-style: none;
	display: flex;


}

.headerTitles li {
	margin-top: 20px;
	margin-right: 230px;
}
.myPeeps {
	width:350px;
}

.peepsTitle {
	width:350Px;
	height:50px;
	background-color: rgb(129,188,57);
	color: #fff;
	padding:13px;
}


.peepsLink {
	text-decoration: none;
	color:black;
	border-bottom:1px solid #eee;
	width:350px;
}


.listImg {
	border-radius: 100%;
	margin-right: 30px;
}

.profileTitle {
	width:350px;
	height:150px;
	background-color: rgb(129,188,57);
	text-align: center;
}

.profileImg {
	border-radius: 100%;
	margin-top: 10px;
	margin-left: -10px;

}

.profileUl {
	list-style: none;	
}

.profileInfo {
	border-bottom: 1px solid #eee;
	height: 50px;
}

.fa {
	font-size: 25px;
	margin-right: 20px;
	padding:5px;
}
