html {
	box-sizing: border-box;
}

*,*:after,*:before
{box-sizing: inherit}

.app {
	width:800px;
	height: 500px;
	border: 1px solid black;
	display: flex;

}

.header {
	width:800px;
	height: 50px;

}

.headerTitles {
	list-style: none;
	display: flex;

}

.headerTitles li {
	
	margin-right: 230px;
}

.peepsTitle {
	width:350Px;
	height:50px;
	background-color: rgb(129,188,57);
	text-align: center;

}

.peepsList {
	list-style: none;
	
}

.peepsList li {
	border-bottom: 1px solid #eee;
	height: 50px;
}

.profileTitle {
	width:350px;
	height:50px;
	background-color: rgb(129,188,57);
	text-align: center;
}

.profileImageContainer {
	width: 40%;
	
}

.profileImageSpot {
	border-radius: 100%;

}

.profileUl {
	list-style: none;	

}

.profileUl li {
	border-bottom: 1px solid #eee;
	height: 50px;
}